<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<main class="hero-section">
  <div class="hero-content">
      <h1>Welcome to RSA Encryption</h1>
      <p>Secure your data with cutting-edge encryption technology.</p>
      <button class="cta-button">Get Started</button>
  </div>
</main>

<%- include Partials/bottom_nav.ejs %>  
<%- include Partials/footer.ejs %>
